.section {
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
.section h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  padding-bottom: 30px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.section h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 8em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
#fixedHeader {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #1c2130;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 999;
  text-align: center;
}
#fixedHeader h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  color: #eeeeee;
  padding: 2px;
  margin: 2px;
}
.section-header {
  background-color: #1c2130;
  text-align: center;
  background: #384260;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #384260 0%, #1c2130 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #384260), color-stop(100%, #1c2130));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #384260 0%, #1c2130 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #384260 0%, #1c2130 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #384260 0%, #1c2130 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #384260 0%, #1c2130 100%);
  /* W3C */
}
.section-header h1 {
  padding-top: 40px;
}
.section-header h2 {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  padding-bottom: 40px;
}
.section-contact {
  background-color: #028f76;
  color: #eeeeee;
}
.section-contact a {
  color: #eeeeee;
  text-decoration: none;
  border-bottom: 1px dotted #eeeeee;
}
.section-contact a:hover {
  text-decoration: none;
  border-bottom: 0px;
}
.section-contact .fa-inverse {
  color: #028f76;
}
.icons {
  text-align: center;
  padding: 20px;
}
.contact {
  margin-bottom: 5px;
}
.fa-6x {
  font-size: 6em;
}
.section-summary {
  background-color: #b3e099;
  color: #444444;
}
.section-summary p {
  font-size: 1.2em;
}
.section-summary h2 {
  color: #444444;
}
.section-recommendations {
  background-color: #d14334;
  color: #eeeeee;
}
.section-recommendations img {
  float: left;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.section-work-exp {
  background-color: #ffeaad;
  color: #444444;
}
.section-work-exp h2 {
  color: #444444;
}
.section-work-exp img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.section-work-exp .job-dates {
  font-size: 0.8em;
  padding-bottom: 10px;
}
.recommendation {
  padding-bottom: 20px;
}
.rec-name {
  font-weight: bold;
  font-size: 1.2em;
}
.rec-job {
  font-weight: bold;
  margin-bottom: 5px;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.job {
  padding-bottom: 30px;
}
.job h3 {
  margin: 0px;
}
.job-title {
  font-weight: bold;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.job-logo {
  padding-bottom: 10px;
}

.center {
    text-align: center;
}
