@section1: #028F76;
@section2: #1C2130;
@section3: #B3E099;
@section4: #FFEAAD;
@section5: #D14334;

@section1: #1C2130;
@section2: #028F76;
@section3: #B3E099;
@section4: #FFEAAD;
@section5: #D14334;

@light-text: #eee;
@dark-text: #444;

.radial-grad(@start, @finish) {
    background: @start; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  @start 0%, @finish 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,@start), color-stop(100%,@finish)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  @start 0%,@finish 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  @start 0%,@finish 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  @start 0%,@finish 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  @start 0%,@finish 100%); /* W3C */
}

.section {
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
        text-align: center;
        font-family: 'Niconne', cursive;
        font-size: 3em;
        padding-bottom: 30px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    }
    h1 {
        text-align: center;
        font-family: 'Niconne', cursive;
        font-size: 8em;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    }
}
#fixedHeader {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: @section1;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 999;
    text-align: center;
    h1 {
        font-family: 'Niconne', cursive;
        font-size: 3em;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        color: contrast(@section1, @dark-text, @light-text);
        padding: 2px;
        margin: 2px;
    }
}
.section-header {
    background-color: @section1;
    text-align: center;
    .radial-grad(lighten(@section1, 15%), @section1);
    h1 {
        padding-top: 40px;
    }
    h2 {
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        padding-bottom: 40px;
    }
}
.section-contact {
    background-color: @section2;
    color: contrast(@section2, @dark-text, @light-text);

    a {
        color: contrast(@section2, @dark-text, @light-text);
        text-decoration: none;
        border-bottom: 1px dotted contrast(@section2, @dark-text, @light-text);
    }
    a:hover {
        text-decoration: none;
        border-bottom: 0px;
    }

    .fa-inverse {
        color: @section2;
    }
}
.icons {
    text-align: center;
    padding: 20px;
}
.contact {
    margin-bottom: 5px;
}
.fa-6x {
    font-size: 6em;
}
.section-summary {
    background-color: @section3;
    color: contrast(@section3, @dark-text, @light-text);
    p {
        font-size: 1.2em;
    }
    h2 {
        color: contrast(@section3, @dark-text, @light-text);
    }
}
.section-recommendations {
    background-color: @section5;
    color: contrast(@section5, @dark-text, @light-text);
    img {
        float:left;
        margin-right: 10px;
        border: 1px solid white;
        border-radius:5px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    }
}
.section-work-exp {
    background-color: @section4;
    color: contrast(@section4, @dark-text, @light-text);
    h2 {
        color: contrast(@section4, @dark-text, @light-text);
    }
    img {
        margin-right: 10px;
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    }
    .job-dates {
        font-size: 0.8em;
        padding-bottom: 10px;
    }
}
.recommendation {
    padding-bottom: 20px;
}
.rec-name {
    font-weight: bold;
    font-size: 1.2em;
}
.rec-job {
    font-weight: bold;
    margin-bottom: 5px;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.job {
    padding-bottom: 30px;
    h3 {
        margin:0px;
    }
}
.job-title {
    font-weight: bold;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.job-logo {
    padding-bottom: 10px;
}
