body {
  font-size: 12px;
}
.section {
  background: white;
  color: black;
}
.section h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}
.section h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
}
.section-contact {
  text-align: center;
}
.job-meta,
.rec-job {
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}
