---
title: Phil Jackson's cv
---
<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}

    <link href="/fa/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bs/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <link href="/css/cv.css" rel="stylesheet">
  </head>

  <body>
    <div id="fixedHeader" class="hidden-print">
      <h1>Phil Jackson</h1>
    </div>

    <div class="container-fluid">
      <div class="row section section-header">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Phil Jackson</h1>
          <h2>CV</h2>
        </div>
      </div>

      {% include cv/contact.html %}
      {% include cv/summary.html %}

      <div class="row section section-work-exp">
        <div class="col-md-6 col-md-offset-3">
          <h2>Work experience</h2>

          {% include cv/we-apiaxle.html %}
          {% include cv/we-skimlinks.html %}
          {% include cv/we-qwerly.html %}
          {% include cv/we-bbc.html %}
          {% include cv/we-mcafee.html %}
          {% include cv/we-nec.html %}
          {% include cv/we-bt.html %}

        </div>
      </div>

      {% include cv/recommendations.html %}

    </div>
  </body>
  <script>
   $(document).ready(function() {
     var header = $(".section-header");
     var fixed = $("#fixedHeader");
     var headerCheck = function() {
       var fromTop = $(window).scrollTop();

       if ( fromTop > ( header.height())) {
         if (fixed.is(':hidden')) { fixed.show() }
       }
       else {
         if (! fixed.is(':hidden')) { fixed.hide() }
       }
     }

     headerCheck();
     $(window).on("scroll", headerCheck);
   });
  </script>
</html>
