<div class="row">
  <div class="col-lg-12">
    <div class="title">
      <h1><a href="/">{{ site.name }}</a></h1>
      <div class="subtitle">{{ site.description }}</div>

      <div class="row links">
        <div class="col-sm-2 col-sm-offset-2">
          <a target="_blank"
             onClick="trackOutboundLink('https://github.com/philjackson');"
             href="https://github.com/philjackson">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </div>
        <div class="col-sm-2">
          <a target="_blank"
             onClick="trackOutboundLink('https://facebook.com/yet.more.information');"
             href="https://facebook.com/yet.more.information">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
        </div>
        <div class="col-sm-2">
          <a target="_blank"
             onClick="trackOutboundLink('https://twitter.com/philjackson');"
             href="https://twitter.com/philjackson">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </div>
        <div class="col-sm-2">
          <a target="_blank"
             onClick="trackOutboundLink('https://uk.linkedin.com/in/philapiaxle');"
             href'="https://uk.linkedin.com/in/philapiaxle">
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
        </div>
      </div>
   </div>
  </div>
</div>
