<div class="row section section-contact icons">
  <div class="col-md-3 contact">
    <div class="fa-stack fa-2x hidden-print">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-home fa-stack-1x fa-inverse"></i>
    </div>
    <div>
      London / Maidenhead, UK
    </div>
  </div>

  <div class="col-md-3 contact">
    <div class="fa-stack fa-2x hidden-print">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </div>
    <div>
      <a href="mailto:phil@shellarchive.co.uk">Email</a>
    </div>
  </div>

  <div class="col-md-3 contact">
    <div class="fa-stack fa-2x hidden-print">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-copy fa-stack-1x fa-inverse"></i>
    </div>
    <div><a href="http://philcv.com">Online CV</a></div>
  </div>

  <div class="col-md-3 contact">
    <div class="fa-stack fa-2x hidden-print">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </div>
    <div><a href="http://github.com/philjackson">Github profile</a></div>
  </div>
</div>
