<div class="row section section-recommendations">
  <div class="col-md-12">
    <h2>Recommendations</h2>

    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class="recommendation">
          <img class="hidden-print" src="/img/max.jpg"></img>
          <div class="rec-name">Max Niederhofer</div>
          <div class="rec-job">CEO, Qwerly</div>
          <p>
            Phil is both a great engineer as well as a great engineering
            lead (CTO/VP Eng level). In our work together, he has
            consistently exceeded expectations, delivering quality product
            on time and on budget. He is diligent, punctual, thoughtful,
            cognizant of both user experience and performance constraints
            and always at the cutting edge of computer science
            knowledge. I'd recommend Phil whole-heartedly for whatever
            venture he embarks on next.
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="recommendation">
          <img class="hidden-print" src="/img/dan.jpg"></img>
          <div class="rec-name">Dan Chiao</div>
          <div class="rec-job">VP Eng, Fliptop</div>
          <p>
            Phil built an amazing application in Qwerly and did an
            above-and-beyond thorough job helping us integrate it into
            Fliptop's infrastructure. I would most definitely work with
            him again.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class="recommendation">
          <img class="hidden-print" src="/img/dave.png"></img>
          <div class="rec-name">David Wright</div>
          <div class="rec-job">Head of Publishing Services, Future Media, BBC</div>
          <p>
            Phil is a first class engineer. He writes great code,
            quickly, and is always looking at ways to improve or
            refactor whatever he works on. I worked with him over
            several years at the BBC and he made a huge contribution to
            the success of iPlayer. He's a pleasure to work with.
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="recommendation">
          <img class="hidden-print" src="/img/nicole.jpg"></img>
          <div class="rec-name">Nicole Clement-Reynier</div>
          <div class="rec-job">Project Manager, iPlayer, BBC</div>
          <p>
            Phil was part of a team of developers I worked with on a
            daily basis. His helpful insight, dedication, high standard
            of output and sense of humour made working with him a real
            pleasure. He has that rare combination of a creative,
            technical mind and the sense and ability to communicate with
            people from all aspects of the business.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class="recommendation">
          <img class="hidden-print" src="/img/john.jpg"></img>
          <div class="rec-name">John Sargent</div>
          <div class="rec-job">Software Architect, McAfee</div>
          <p>
            Phil is a very skilled perl developer, producing elegant
            solutions in a timely manner and consistently showed the
            inovation, insight and leadership of thought needed the high
            pressure Spam lab environment.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>