<div class="row section section-summary section-skills">
  <div class="col-md-6 col-md-offset-3">
    <h2>Technology skills</h2>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="skill">
          <i class="fa fa-3x hidden-print icon-nodejs"></i>
          <div>Node.js - Javascript/Coffeescript</div>
          <div><small>Express, Passport, Jade, Ejs, etc.</small></div>
          <div class="clearfix"></div>
        </div>
        <div class="skill">
          <i class="fa fa-3x hidden-print icon-python"></i>
          <div>Python</div>
          <div><small>Tornado, etc.</small></div>
          <div class="clearfix"></div>
        </div>
        <div class="skill">
          <i class="fa fa-3x hidden-print icon-javascript"></i>
          <div>Front End</div>
          <div><small>Javascript, Coffeescript, Backbone.js, React, etc.</small></div>
          <div class="clearfix"></div>
        </div>
        <div class="skill">
          <i class="fa fa-3x hidden-print icon-clojure"></i>
          <div>Clojure</div>
          <div><small>Compojure, Ring, Freactive, etc.</small></div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="skill">
          <i class="fa fa-3x hidden-print icon-ruby"></i>
          <div>Ruby</div>
          <div><small>Rails, EventMachine, Sinatra, etc.</small></div>
          <div class="clearfix"></div>
        </div>
        <div class="skill">
          <i class="fa fa-3x hidden-print icon-perl"></i>
          <div>Perl</div>
          <div><small>Catalyst, TT, etc.</small></div>
          <div class="clearfix"></div>
        </div>
        <div class="skill">
          <i class="fa fa-3x hidden-print icon-database-alt"></i>
          <div>Tooling</div>
          <div><small>Git, Make, NPM, Unix shells, nginx, varnish, AWS, Redis, Mysql, PostgresQL, Linux, etc.</small></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
