<div class="row section section-summary">
  <div class="col-md-10 col-md-offset-1">
    <h2>Summary</h2>

    <p>
      Strong technologist favouring a hands-on leadership
      position. Passionate about technology, building and leading
      great teams, and producing scalable and correct systems.
    </p>

    <p>
      Strong programming experience with Python, Ruby, Javascript and
      Clojure being most regularly used languages. Many frameworks
      in toolbox such as Rails, React, Reagent, Re-frame, etc.
    </p>

    <p>
      Two companies founded, Qwerly (CTO), a social media marketing
      company (acquired by FlipTop) and ApiAxle (CTO/sole founder)
      which provides an open source API proxy and related
      tools/services (acquired by Exicon in 2014).
    </p>

    <p>
      Many years of management experience from time at Skimlinks, Qwerly,
      ApiAxle, Betconnect and RBS. Recruitment played a big part in each role,
      honing skills for finding the right people to create great teams. Well
      versed in agile methodologies.
    </p>

    <p>
      Generally a back-end developer but with good front-end skills. Expertise
      in several languages including Clojure, Clojurescript, Javascript, Python,
      Ruby and Perl. Excellent knowledge of various web markup languages and
      post-processors such as HTML, CSS, React/JSX,
      Clojurescript/Reagent/Re-frame etc.
    </p>
  </div>
</div>
