<div class="row section section-summary">
  <div class="col-md-6 col-md-offset-3">
    <h2>Summary</h2>

    <p>
      Strong <strong>technologist</strong> with entrepreneurial
      tendencies. Passionate about technology, leading technical teams
      and building scalable and correct systems.
    </p>

    <p>
      Two companies founded, Qwerly (CTO), a social media marketing
      company (acquired by FlipTop) and ApiAxle (CEO/sole founder)
      which provides an open source API proxy and related
      tools/services (acquired by Exicon in 2014).
    </p>
  </div>
</div>
