<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/apiaxle.png" /></div>
    <div class="col-md-9 job-body">
      <div class="job-meta">
        <h3>ApiAxle</h3>

        <div class="job-title">CEO / Founder</div>
        <div class="job-dates">January 2013 – Present London, United Kingdom</div>
      </div>
      <p>
        ApiAxle is an opensource, lightweight API management
        solution that handles all the boring stuff and let's you
        focus on your product. ApiAxle was aquired by Exicon in
        early 2014.
      </p>

      <p>
        ApiAxle enjoyed rapid growth and was often touted as the goto
        solution for open, on-premise API management. The project grew
        - almost completely organically - from tens of downloads a
        month to about 500 a month now.
      </p>

      <p>
        Before the sale Phil was seeking to recruit a CEO, but until
        the aquisition was a sole-founder so all aspects of software
        development and the day-to-day running of the business were
        within his remit, including:
      </p>

      <ul>
        <li>Development of <a target="_blank" href="http://apiaxle.com">apiaxle.com</a>.</li>
        <li>Devleopment of the ApiAxle product suite.</li>
        <li>Marketing/blog posts/partnerships/branding.</li>
        <li>OSS community management.</li>
        <li>Stakeholder management.</li>
        <li>Customer aquisition.</li>
      </ul>
    </div>
  </div>
</div>