<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/bc.png" /></div>
    <div class="col-md-9 job-body">
      <div class="job-meta">
        <h3>Betconnect</h3>

        <div class="job-title">CTO / Founding member</div>
        <div class="job-dates">April 2015 – Present London, United Kingdom</div>
      </div>
      <p>
        Betconnect is a peer-to-peer gaming company that allows
        high-stake gamers, who lack access to liquidity, to 'shard' a
        bet amongst other users in Betconnect's network. These users
        will in return gain access to the 'tip' provided by the
        high-stake gamer.
      </p>

      <p>
        
      </p>
    </div>
  </div>
</div>