<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/bc.png" /></div>
    <div class="col-md-9 job-body">
      <div class="job-meta">
        <h3>Betconnect</h3>

        <div class="job-title">CTO / Founding member</div>
        <div class="job-dates">April 2015 – Present London, United Kingdom</div>
      </div>
      <p>
        Betconnect is a peer-to-peer gaming company that allows
        high-stake gamers, who lack access to liquidity, to 'shard' a
        bet amongst other users in Betconnect's network. These users
        will in return gain access to the 'tip' provided by the
        high-stake gamer.
      </p>
      <p>
        Betconnect is built from the ground up on AWS utilising RDS,
        EC2, ACS and Docker with automated builds originating from
        CircleCI. Software-wise, the API was written in Clojure and
        associated technologies, with a 'thin' front-end which was
        Javascript, ReactJS and Webpack based. Tests were a mandated
        part of the system and coverage is excellent.
      </p>
      <p>
        Duties were many and varied, with most time spent 'hands-on'
        writing code and building out the platform. Building and
        managing a team of developers constituted much of the role
        along with maintaining the balance between ongoing rigorous
        process and developer motivation.
    </div>
  </div>
</div>