<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/bbc.jpg" /></div>
    <div class="col-md-9 job-body">
      <div class="job-meta">
        <h3>BBC</h3>

        <div class="job-title">Software Engineer (Freelancer)</div>
        <div class="job-dates">October 2007 – March 2011 (3 years 6 months) London, United Kingdom</div>
      </div>
      <p>
        Part of a ten strong team working on the iPlayer meta data
        API. The API was conceived as a very fast, de-normalised API
        which would be used dynamically, primarily by the iPlayer
        interface itself. This meant scaling the system to many
        billions of calls a month which brought about sharding various
        database systems and implementing detailed monitoring systems
        to ensure performance and availability.
      </p>
      <p>
        Lead of the performance team which involved keeping the API
        fast enough for use with, amongst others, iPlayer.
      </p>
      <p>
        Products written in 'modern Perl' with MySql at the
        back-end. Frameworks used included Catalyst and DBIx::Class.
      </p>
    </div>
  </div>
</div>
