<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/bt.jpg" /></div>
    <div class="col-md-9">
      <h3>BT</h3>

      <div class="job-title">Software Engineer</div>
      <div class="job-dates">June 2003 – September 2004 (1 year 4 months) Blackpool, United Kingdom</div>
      <p>

        Part of a large team maintaining and developing a large Sun
        clustered Sybase ASE database. Responsible for the development and
        of the operational tools which run on a Linux / Apache / mod_perl /
        TT platform with a Sybase back-end. Security, cost and scalability
        were a major factor in the choice of platforms and methods of
        implementation for this product.
      </p>

      <p>
        Strove to automate many of the processes that were performed
        manually and prone to human error.
      </p>
    </div>
  </div>
</div>