<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/mcafee.gif" /></div>
    <div class="col-md-9">
      <h3>McAfee</h3>

      <div class="job-title">Software Engineer (freelance)</div>
      <div class="job-dates">April 2007 – October 2007 (7 months) Ailesbury, United Kingdom</div>
      <p>
        Part of small team of engineers maintaining and developing the
        McAfee anti-spam lab, collecting and analysing spam and
        phishing data, and developing backend systems to auto-generate
        anti-spam rules for the McAfee anti-spam and anti-phishing
        engine.
      </p>
      <ul>
        <li>Wide range of programming languages used. C++, perl, unix shell and Python.</li>
        <li>Very agile environment. Often spam would be tackled and code pushed to customers within the hour.</li>
      </ul>
    </div>
  </div>
</div>