<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/nec.jpg" /></div>
    <div class="col-md-9">
      <div class="job-meta">
        <h3>NEC</h3>

        <div class="job-title">Software Engineer</div>
        <div class="job-dates">September 2004 – September 2006 (2 years 1 month) Slough, United Kingdom</div>
      </div>
      <p>
        Developer on a busy six man team maintaining and developing O2's
        i-mode (mobile internet) platform. Responsibilities included
        writing tools to further enhance the service NEC supply to O2 and
        development of ad-hoc scripts used by both NEC's local team and O2
        themselves.
      </p>

      <p>
        Lead developer on KPI (key performance indicators) project that
        allowed NEC to reliably gather information about various aspects
        of the platform such as performance and availability. This project
        was implemented in Perl and C with a CGI front-end, it processes
        several gigabites of informationb on a daily basis.
      </p>
    </div>
  </div>
</div>