<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/qwerly.jpg" /></div>
    <div class="col-md-9">
      <h3>Qwerly</h3>

      <div class="job-title">CTO / Founder</div>
      <div class="job-dates">March 2011 – December 2011 (10 months) London, United Kingdom</div>
      <p>
        Lead a small development team in the design and implementation
        the Qwerly API, front-end and back-end
        technologies. Contribution to the competitive stratgey was a
        core component of this role.
      </p>
      <ul>
        <li>Implementation of algorithms to access, clean, consolidate and store public data from hundreds of millions of profiles across over 125 social networks.</li>
        <li>Over 2,500 developers on the API.</li>
        <li>Stakeholder management.</li>
        <li>Management of a large MongoDb database cluster with very high throughput.</li>
        <li>API receiving tens of millions of reads a day.</li>
        <li>Core application written in Ruby. Several sub-projects based on Node.js and Coffeescript.</li>
      </ul>
    </div>
  </div>
</div>