<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/rbs.jpg" /></div>
    <div class="col-md-9 job-body">
      <div class="job-meta">
        <h3>RBS</h3>

        <div class="job-title">Head of API (contract)</div>
        <div class="job-dates">Feb 2016 – June 2017 London, United Kingdom</div>
      </div>
      <p>
          In efforts to drive innovation and to preempt the regulatory
          requirements laid out by Open Banking and PSD2, RBS formalised their
          API strategy. 
      </p>
      <p> The following responsibilities came with this role:</p>
      <ul>
          <li>Help define overall API strategy.</li>
          <li>Feasibility studies on third-party tooling.</li>
          <li>Building relationships with relevant technology partners.</li>
          <li>Pitch to senior leadership and stakeholders within the bank.</li>
          <li>Help define the developer and end-consumer experiences when interacting with APIs.</li>
      </ul>
      <p>
          Building a small public API that represented a small portion of Ulster
          Bank retail customers was chosen as a precursor to the larger,
          upcoming OB/PSD2 projects. This project required a new team which was
          sourced mostly internally and grew to about 15 people including
          testers, devops, developers and a scrum master. The project was run in
          an agile manner with short sprint cycles and regular show and tell
          sessions. Managing stakeholders, tech. partners and data providers
          within the organisation was an essential part of this build.
          Documenting pain-points was also key given the path-finding nature of
          the project.
      </p>
    </div>
  </div>
</div>
