<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/skimlinks.png" /></div>
    <div class="col-md-9 job-body">
      <div class="job-meta">
        <h3>Skimlinks</h3>
        <div class="job-title">Team lead (Freelancer)</div>
        <div class="job-dates">December 2011 – February 2013 (1 year 3 months) London, United Kingdom</div>
      </div>
      <p>
        Tech/team lead of the API and data teams. Several products
        managed within team including customer facing reporting and
        management APIs which together were multi-million calls-a-day
        systems.
      </p>

      <p>
        At peak managing 15 developers and liasing with several
        product mangers to help drive strategy for Skimlinks' systems.
      </p>
    </div>
  </div>
</div>