
<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/infinity.jpg" /></div>
    <div class="col-md-9 job-body">
      <div class="job-meta">
        <h3>Various</h3>

        <div class="job-title">Yipgo (Consulting/contracting)</div>
        <div class="job-dates">June 2017 - Now London, United Kingdom</div>
      </div>
      <p>
        Many clients served as a developer, advisor or interim
        CTO. Key roles included:
      </p>

      <ul>
        <li>
          A return to <b>RBS</b> to lead the API Enabler team through
          several projects. This role involved creating the Customer
          API which could provide select TPPs information about their
          customers should consent be afforded via OAuth. This
          involved managing ~20 people invcluding developers,
          architects and testers. Communication about the benifits of
          the APIs and tools developed with the wider organisation was
          a key part of this role.
        </li>
        <li>
          Due diligence reporting for several prospective investment
          opportunities through <a href="http://www.firestartr.co/">Firestatr</a>.
        </li>

        <li>
          Help <a href="https://www.gendius.co.uk/">Gendius</a> manage
          their new build of the Intellin phone app. This involved
          coordinating a couple of external teams and an in-house
          developer and designer.
        </li>

        <li>
          Serve as interim CTO for <a href="https://www.twoupdigital.com/">Two Up Digital</a> -
          a digital agency and supplier of a large gaming system. This
          mostly involved managing a team of ~30 developers as well as
          system architecture and a small amount of development.
        </li>
      </ul>
    </div>
  </div>
</div>
