<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/yipgo.png" /></div>
    <div class="col-md-9 job-body">
      <div class="job-meta">
        <h3>Yipgo <small>(side project, ongoing)</small></h3>

          <div class="job-title">Founder / developer / etc</div>
          <div class="job-dates"></div>
      </div>
      <p>
        <a href="http://yipgo.com">Yipgo</a> is a versatile, text-based system to keep track of
        everything in your life. At its heart its a TODO list, at
        least, it should serve the same purpose as a TODO list. The
        difference is that the list is plain text and has a very basic
        language that lets the user add meta data around an item in
        their list.
      </p>

      <p>
        All back-end & front-end code (coffeescript, javascript, html,
        css) and design implemented by this author. Frameworks used
        are Express and Backbone.
      </p>

      <div class="row image-gallery">
        <div class="col-md-6">
          <a href="/img/yipgo-website-screenshot.png">
            <img src="/img/yipgo-website-screenshot.png" width="150" />
          </a>
        </div>
        <div class="col-md-6">
          <a href="/img/yipgo-editor-screenshot.png">
            <img src="/img/yipgo-editor-screenshot.png" width="150" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>