<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/yipgo.png" /></div>
    <div class="col-md-9 job-body">
      <div class="job-meta">
        <h3>Yipgo <small>(side project, ongoing)</small></h3>

          <div class="job-title">Founder / developer / etc</div>
          <div class="job-dates">2018 - Now</div>
      </div>
      <p>
        Yipgo is a ticket management solution that aims to be a
        lightweight and fast version of the larger systems out there
        such as Jira.
      </p>
      <p>
        Developed from scratch it is an SPA which utalises the
        following tools and languages:
      </p>

      <ul>
        <li>Backend written in Clojure with a PostgresQL database.</li>
        <li>Hosted on AWS and using SES, RDS, Beanstalk and Cloudfront.</li>
        <li>Frontend is Clojurescript and React.</li>
        <li>System has high test coverage and is built and deployed via Gitlab's CI system.</li>
        <li>Semantic UI React makes up the UI framework.</li>
        <li>CSS via Less.</li>
      </ul>
    </div>
  </div>
</div>
