<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/apiaxle.png" /></div>
    <div class="col-md-9">
      <h3>ApiAxle</h3>

      <div class="job-title">CEO / Founder</div>
      <div class="job-dates">January 2012 – February 2014 (2 years 2 months) London, United Kingdom</div>
      <p>
        ApiAxle is an opensource, lightweight API management solution
        that handles all the boring stuff and let's you focus on your
        product. ApiAxle was aquired by Exicon early 2014.
      </p>

      <p>
        Before the sale Phil was seeking to recruit a CEO, but until
        the aquisition was a sole-founder so all aspects of software
        development and the day-to-day running of the business were
        within his remit, including:
      </p>

      <ul>
        <li>Development of <a target="_blank" href="http://apiaxle.com">apiaxle.com.</a></li>
        <li>Devleopment of the ApiAxle product suite.</li>
        <li>Marketing/blog posts/partnerships/branding.</li>
        <li>Stakeholder management.</li>
        <li>Customer aquisition.</li>
      </ul>
    </div>
  </div>
</div>

<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/skimlinks.png" /></div>
    <div class="col-md-9">
      <h3>Skimlinks</h3>

      <div class="job-title">Team lead (Freelancer)</div>
      <div class="job-dates">January 2012 – February 2014 (2 years 2 months) London, United Kingdom</div>
      Technical/team lead of the Skimlinks API team.
    </div>
  </div>
</div>

<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/qwerly.jpg" /></div>
    <div class="col-md-9">
      <h3>Qwerly</h3>

      <div class="job-title">CTO / Founder</div>
      <div class="job-dates">March 2011 – December 2011 (10 months) London, United Kingdom</div>
      <p>
        Lead a small development team in the design and implementation
        the Qwerly API, front-end and back-end
        technologies. Contribution to the competitive stratgey was a
        core component of this role.
      </p>
      <ul>
        <li>Implementation of algorithms to access, clean, consolidate and store public data from hundreds of millions of profiles across over 125 social networks.</li>
        <li>Over 2,500 developers on the API.</li>
        <li>Stakeholder management.</li>
        <li>Management of a large MongoDb database cluster with very high throughput.</li>
        <li>API receiving tens of millions of reads a day.</li>
        <li>Core application written in Ruby. Several sub-projects based on Node.js and Coffeescript.</li>
      </ul>
    </div>
  </div>
</div>

<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/bbc.jpg" /></div>
    <div class="col-md-9">
      <h3>BBC</h3>

      <div class="job-title">Software Engineer (freelance)</div>
      <div class="job-dates">October 2007 – March 2011 (3 years 6 months) London, United Kingdom</div>
      <p>
        Part of a ten strong team working on the iPlayer meta data
        API. The API was conceived as a very fast, denormalised API
        which would be used dynamically.
      </p>
      <p>
        Lead of the performance team which involved keeping the API
        fast enough for use with, amongst others, iPlayer.
      </p>
      <p>
        Products written in 'modern Perl' with MySql at the
        back-end. Frameworks used included Catalyst and DBIx::Class.
      </p>
    </div>
  </div>
</div>

<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/mcafee.gif" /></div>
    <div class="col-md-9">
      <h3>McAfee</h3>

      <div class="job-title">Software Engineer (freelance)</div>
      <div class="job-dates">April 2007 – October 2007 (7 months) Ailesbury, United Kingdom</div>
      <p>
        Part of small team of engineers maintaining and developing the
        McAfee anti-spam lab, collecting and analysing spam and
        phishing data, and developing backend systems to auto-generate
        anti-spam rules for the McAfee anti-spam and anti-phishing
        engine.
      </p>
      <ul>
        <li>Wide range of programming languages used. C++, perl, unix shell and Python.</li>
        <li>Very agile environment. Often spam would be tackled and code pushed to customers within the hour.</li>
      </ul>
    </div>
  </div>
</div>

<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/nec.jpg" /></div>
    <div class="col-md-9">
      <h3>NEC</h3>

      <div class="job-title">Software Engineer</div>
      <div class="job-dates">September 2004 – September 2006 (2 years 1 month) Slough, United Kingdom</div>
      <p>
        Developer on a busy six man team maintaining and developing O2's
        i-mode (mobile internet) platform. Responsibilities included
        writing tools to further enhance the service NEC supply to O2 and
        development of ad-hoc scripts used by both NEC's local team and O2
        themselves.
      </p>

      <p>
        Lead developer on KPI (key performance indicators) project that
        allowed NEC to reliably gather information about various aspects
        of the platform such as performance and availability. This project
        was implemented in Perl and C with a CGI front-end, it processes
        several gigabites of informationb on a daily basis.
      </p>
    </div>
  </div>
</div>

<div class="job">
  <div class="row">
    <div class="col-md-3 job-logo"><img class="hidden-print center" src="/img/bt.jpg" /></div>
    <div class="col-md-9">
      <h3>BT</h3>

      <div class="job-title">Software Engineer</div>
      <div class="job-dates">June 2003 – September 2004 (1 year 4 months) Blackpool, United Kingdom</div>
      <p>

        Part of a large team maintaining and developing a large Sun
        clustered Sybase ASE database. Responsible for the development and
        of the operational tools which run on a Linux / Apache / mod_perl /
        TT platform with a Sybase back-end. Security, cost and scalability
        were a major factor in the choice of platforms and methods of
        implementation for this product.
      </p>

      <p>
        Strove to automate many of the processes that were performed
        manually and prone to human error.
      </p>
    </div>
  </div>
</div>