#fixedHeader {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #e3dfba;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 999;
  text-align: center;
}
#fixedHeader h1 {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  color: #444444;
  padding: 2px;
  margin: 2px;
}
.section-header {
  background-color: #e3dfba;
  text-align: center;
  background: #f9f8f0;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f9f8f0 0%, #e3dfba 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f9f8f0), color-stop(100%, #e3dfba));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f9f8f0 0%, #e3dfba 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f9f8f0 0%, #e3dfba 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f9f8f0 0%, #e3dfba 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #f9f8f0 0%, #e3dfba 100%);
  /* W3C */
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-header h1 {
  padding-top: 40px;
}
.section-header h2 {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  padding-bottom: 40px;
}
.section-contact {
  background-color: #c8d6bf;
  color: #444444;
}
.section-contact a {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px dotted #444444;
}
.section-contact a:hover {
  text-decoration: none;
  border-bottom: 0px;
}
.section-contact .fa-inverse {
  color: #c8d6bf;
}
.section-summary {
  background-color: #93ccc6;
  color: #444444;
}
.section-summary p {
  font-size: 1.2em;
}
.section-summary h2 {
  color: #444444;
}
.section-recommendations {
  background-color: #1a1f1e;
  color: #eeeeee;
}
.section-recommendations img {
  float: left;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.section-work-exp {
  background-color: #6cbdb5;
  color: #eeeeee;
}
.section-work-exp h2 {
  color: #eeeeee;
}
.section-work-exp .job-logo img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.section-work-exp .job-dates {
  font-size: 0.8em;
}
.section-work-exp .job-meta {
  padding-bottom: 6px;
}
.section-work-exp .job-body {
  background-color: #8fcdc7;
  color: #444444;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.center {
  text-align: center;
}
